environment:
  # https://docs.docker.com/docker-for-mac/networking/
  # Use host.docker.internal
  # Add the following to your /etc/hosts file:
  # 127.0.0.1 host.docker.internal
  miniourl: host.docker.internal
  minioaccesskey: minioadmin
  MINIO_ACCESS_KEY: minioadmin
  MINIO_SECRET_KEY: minioadmin